body {
  background-color: #fefae0;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #ff6f61;
  font-size: 40px;
}

p {
  color: #555;
  font-size: 20px;
}
.btn-follow {
  display: inline-block;
  background-color: #e1306c;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-follow:hover {
  background-color: #c72d61;
}
.btn-facebook {
  display: inline-flex;
  align-items: center;
  background-color: #1877f2;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover {
  background-color: #145ecf;
}

.icon-facebook {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}